/*
  *** TODO: fill in your header ***
  Name: Ariane Apigo
  Date: 2019 September 30
  Section: AA / Chao Hsu Lin

  Blog-style page with posts regarding my travels to Japan.
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CP requirements!
*/

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  background-color: mistyrose;
  font-family: "Nunito", Calibri, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1, h2, h3 {
  font-family: "Pacifico", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

header {
  font-family: "Pacifico", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

aside {
  float: right;
  background-color: peachpuff;
  border: solid 5px;
  border-color: white;
}

section {
  background-color: peachpuff;
  border: solid 5px;
  border-color: white;
}

img {
  width: 500px;
}
