/*
  *** TODO: fill in your header ***
  Name: Ariane Apigo
  Date: 2019 September 30
  Section: AA / Chao Hsu Lin

  Blog-style page with posts regarding my travels to Japan.
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CP requirements!
*/
body {
  background-color: mistyrose;
  font-family: "Muli", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
